.gitignore
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# intellij
.idea
**/*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
*.log
/target/

#Ignore Cmd2RdfPageHeader.properties file sinds it is generated.
webapps/src/main/java/nl/knaw/dans/cmd2rdf/webapps/ui/Cmd2RdfPageHeader.properties
