/***************************************************
	      minimalist by marija zaric
	      template distributed by
        http: //freehtml5templates.com
***************************************************
***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary, table {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
a:selected {color: blue;}
ol, ul {
	list-style: none;
}

a img {
   border: none
}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
			      Global styles
***************************************************/

html {
	width: 100%;
	height: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: white;
	color: #575757;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.7;
	/*border-top: 10px solid black;*/
	min-height:100%;
}

.wrapper {
	/*background-image: url(images/bg.png); */
	background-position: left top;
	background-repeat: repeat;
	min-height:100%;
	position:relative;
	border-bottom:0px;
}

p {
	margin-top: 3px;
}

a, p a {
	text-decoration: underline;
	color: white;
}

a: hover {
   color: white;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
	position: relative;
}

h1 {
	font-size: 36px;
	line-height: 0.9;
	color: #666666;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 10px;
	top: 0px;
}

 h1 span {
	font-size: 25px;
	line-height: 12px;
	color: #666666;
	margin-left: 10px;
}

h2 {
	font-size: 15px;
	line-height: 1.8;
	color: #666666;
	text-align: left;
	border-bottom: 1px solid #A3A3A3;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

h3 {
	font-size: 18px;
	line-height: 0.9;
	color: #575757;
	text-align: left;
	margin-bottom: 6px;
	padding-bottom: 5px;
}

h4 {
	font-size: 14px;
	line-height: 0.9;
	color: #CC3333;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 3px;
}

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}

#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background-color: transparent;
	min-height: 100%;
}

header {
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}


/***************************************************
				INTRO
***************************************************/	

#intro {
	width: 980px;
	position: relative;
	float: left;
	height: 90px;
	background: transparent;
}

/***************************************************
				PANEL
***************************************************/	

#panel {
	width: 980px;
	position: relative;
	float: left;
	height: 300px;
	background: transparent;
	margin-top: 25px;
	color:red;
}

/***************************************************
				ARTICLES
***************************************************/	

#articles {
	width: 980px;
	position: relative;
	float: left;
	height: 300px;
	background: transparent;
	margin-top: 25px;
}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: right;
	width: 50%;
	margin-top: -60px;
	padding-top: 10px;
	height: 70px    !important;
}

.holder_content_recommendation {
	position: relative;
	float: right;
	width: 50%;
	margin-top: 5px;
	height: 580px    !important;
	overflow: auto;
	border-bottom: 1px solid #CCCCCC;
}

.holder_content_separator{
	margin-bottom: 20px;
}


/***************************************************
			        FOOTER
***************************************************/

footer {
	width:100%;
	height:30px;
	bottom:2px;;
	left:0;
	/*background-color: black;*/
	background-color: #BBBBBB;
	clear: both;
	position: relative;
 	z-index: 10;
 	margin-top: -3em;
}


#FooterOne {
	position: relative;
	text-align: center;
	color: white;
	/*background-image: url(images/footer.png);*/
	background-color: #BBBBBB;
	padding-top: 4px;
}


.container {
   width: 980px;
   margin: 0 auto;
	background-color: #33CC99;
}

/***************************************************
				       MENU
***************************************************/

nav {
	position: absolute;
	width: 570px;
	top: 30px;
	left: 408px;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
}

nav ul li {
	float: left;
	margin-left: 16px;
	line-height: normal;
}

nav ul li a {
	font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	display: block;	/* IE6, IE7 line height fix */
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: transparent;
	margin-top: 5px;
	margin-right: 6px;
   text-decoration: none;
}

nav ul li a: hover {
	color: #CC3333;
}

nav ul li a: hover {
	color: #CC3333;
}

nav ul li a.current {
	color: #CC3333;
}

.content_menu {
	float: left;
	width: 274px;
	margin-top: -10px;
	margin-bottom: 15px;
}

.content_menu ul {	
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li {
	float: none;
	padding-bottom: 16px;
}


.content_menu ul li a {
	font-size: 14px;
	line-height: normal;
   color: #33CC99;
	text-align: left;
	text-decoration: none;
	background-image: url(../images/circle.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.content_menu ul li a: hover {
   color: #33CC99;
}

/**************************************************
			SEARCH
***************************************************/
.searchForm {
	position: relative;
	float: left;
	width: 50%;
	margin-top: -10px;
	padding-top: 10px;
	height: 70px    !important;
}
.searchPanel {
	height: 580px;
	overflow: auto;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	width: 50%;
	margin-top: 25px;
}

.searchResult {
	color: #000000;
	border-bottom: 1px solid #00A7D4;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.searchResult:hover {
	background-color: #EEEEEE;
}

.searchResult .title {
	font-weight: bold;
}

.recommendation {
	display: block;
	border-bottom: none;
	color: #666666;
}

.rating img {
	padding: 2px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.upvote {
	border: 1px solid #FFF;
}

.downvote {
	border: 1px solid #FFF;
}

.upvote:hover {
	border: 1px solid #36D117;
}

.downvote:hover {
	border: 1px solid #F72420;
}

.votes {
	
	font-style:oblique;
	color: #555;
	vertical-align: middle;
}

/**************************************************
			MISC
***************************************************/
#ajaxveil {
  display: none;
  color: #00A7D4;
  width: 200;
  font-weight: bold;
  font-size: 1.2em !important;
  margin-left: 450px;
  margin-top: -30px !important;
  position: fixed;
}

.f1 .f2 a {
  color: #666666;
}

.f3 a {
	float:right;
	color: red;
}

a.divlink { 
     display:block;
     color:#666666;
     text-decoration:none;
}
/***************************************************
				   SPECIFIC
***************************************************/

#logo {
	position: relative;
   float: left;
	left: 0px;
	width: 170px;
	height: 50px;
	top: 10px;
}

.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}
 	
.button {
	width: 66px;
	height: 13px;
	position: relative;
	margin-top: 12px;
	padding: 9px;
	/*background-color: black;*/
	background-color: #BBBBBB;
	display: inline-block;
	color: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
}

.button: hover {
	background-color: #333333;
}

.button: active {
	position: relative;
	top: 1px;
}

/***************************************************
				   TAB PANEL STYLES
***************************************************/


div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("images/tabs/bg.gif") repeat-x bottom;
  line-height:normal;
  }

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
  
div.tabpanel div.tab-row li {
  float:left;
  background:url("images/tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
  
div.tabpanel div.tab-row a {
  display:block;
  background:url("images/tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color:#eee;
  }
  
div.tab-panel {
	clear: left;
}
  
div.tabpanel div.tab-row a:hover {
  color:#fff;
  }
  
div.tabpanel div.tab-row li.selected {
  background-image:url("images/tabs/left_on.gif");
  }
  
div.tabpanel div.tab-row li.selected a {
  background-image:url("images/tabs/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
 
/* VARIATION 1 TAB PANEL STYLES */
div.tabpanel1 div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("images/tabs1/bg.gif") repeat-x bottom;
  line-height:normal;
  }

div.tabpanel1 div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
  
div.tabpanel1 div.tab-row li {
  float:left;
  background:url("images/tabs1/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
  
div.tabpanel1 div.tab-row a {
  display:block;
  background:url("images/tabs1/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  white-space:nowrap;
  }
  
div.tabpanel1 div.tab-row a:hover {
  color:#333;
  }
  
div.tabpanel1 div.tab-row li.selected {
  background-image:url("images/tabs1/left_on.gif");
  }
  
div.tabpanel1 div.tab-row li.selected a {
  background-image:url("images/tabs1/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
  
/* TABBED PANEL VARIATION 2 */
div.tabpanel2 div.tab-row {
  float:left;
  width:100%;
  background:#369 url("images/tabs2/bg.gif") repeat-x bottom;
  font-size:85%;
  line-height:normal;
  }
div.tabpanel2 div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
div.tabpanel2 div.tab-row li {
  float:left;
  background:url("images/tabs2/right.gif") no-repeat right top;
  margin:0;
  padding:0 5px 0 0;
  }
div.tabpanel2 div.tab-row a {
  float:left;
  display:block;
  background:url("images/tabs2/left.gif") no-repeat left top;
  padding:5px 7px 4px 20px;
  text-decoration:none;
  font-weight:bold;
  color:#9cf;
  white-space:nowrap;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
div.tabpanel2 div.tab-row a {float:none;}
/* End IE5-Mac hack */
div.tabpanel2 div.tab-row a:hover {
  color:#fff;
  }
div.tabpanel2 div.tab-row li.selected {
  background-image:url("images/tabs2/right_on.gif");
  }
div.tabpanel2 div.tab-row li.selected a {
  background-image:url("images/tabs2/left_on.gif");
  color:#333;
  padding-bottom:5px;
  }

/* TABBED PANEL VARIATION 3 */
div.tabpanel3 div.tab-row {
  float:left;
  width:100%;
  background:#eee url("images/tabs3/bg.jpg") repeat-x top;
  line-height:normal;
  }
div.tabpanel3 div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
div.tabpanel3 div.tab-row li {
  float:left;
  background:url("images/tabs3/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 28px;
  }
div.tabpanel3 div.tab-row a {
  float:left;
  display:block;
  background:url("images/tabs3/right.gif") no-repeat right top;
  padding:9px 28px 4px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#92A2AC;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
div.tabpanel3 div.tab-row a {float:none;}
/* End IE5-Mac hack */
div.tabpanel3 div.tab-row a:hover {
  color:#A56060;
  }
div.tabpanel3 div.tab-row li.selected {
  background-image:url("images/tabs3/left_on.gif");
  }
div.tabpanel3 div.tab-row li.selected a {
  background-image:url("images/tabs3/right_on.gif");
  color:#A56060;
  }



div.tabpanel4 div.tab-row ul {
    height: 20px;
    margin: 0;
    padding-left: 10px;
    background: url( "images/tabs4/tab_bottom.gif" ) repeat-x bottom;
}

div.tabpanel4 div.tab-row li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.tabpanel4 div.tab-row a:link, div.tabpanel4 div.tab-row a:visited {
    float: left;
    background: #f3f3f3;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

div.tabpanel4 div.tab-row li.selected a:link, div.tabpanel4 div.tab-row a:visited.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

div.tabpanel4 div.tab-row a:hover {
    background: #fff;
}
