<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Wicket Examples - sample panel</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
 
 Everything outside of the &lt;wicket:panel&gt; tags will be ignored.
 Might be handy as preview code.
 
 <wicket:panel>
<br/>
     <div style="text-align:right;">
     </div>	  	
     <div style="float: left; width: 700px; height: 20px;">CMD2RDF_HOME: user.home<span wicket:id="editableLable"></span></div>
<div style="float: right; text-align:right; width: 150px; height: 20px;">Hi, <span wicket:id="userName"/> | <a style="color:red;" href="#" wicket:id="logout">Logout</a></div>
<!-- div style="margin-left: 30px; margin-right: 50px; height: 50px;"></div -->
  	<div wicket:id="tabs" class="tabpanel">[tabbed panel will be here]</div>
 	
 </wicket:panel>

</body>
</html>