<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="UTF-8">
<title>Cmd2Rdf</title>
</head>
<body>
<!-- start wrapper -->
<div class="wrapper">
    <!--start container-->
    <div id="container">
	    <!--start header-->
	     <span wicket:id="header"/>
	   	 <span wicket:id="adminPanel"></span>
	    <!--end header-->
	    <div id="panel">
 <!--start holder-->
  
	    <span wicket:id="loginPanel"></span>
	    </div>
	    
   </div>
   <!--end container-->
   
 
   </div>
   <!--end wrapper-->
  <!--start footer-->
   <footer>
      <div class="container">  
         <div id="FooterOne">&copy;Eko Indarto 2013</div>
      </div>
   </footer>
   <!--end footer-->
	</body>
</html>
