<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
<form wicket:id="form">
Last modification: <b><span wicket:id="xmlLastMod"/></b><br/>
<font color="red"><span wicket:id="errorMessage"/></font><br/>
<table>
	<tr><td colspan="2">XML Configuration</td></tr>
	<tr><td colspan="2"><textarea wicket:id="confTextArea" rows="40" cols="122">Input comes here</textarea></td></tr>
	<tr><td></td><td align="right"><input type="submit" value="save" wicket:id="ajax-button"/></td></tr>
</table>
        </form>
		
</wicket:panel>
</html>
